# 4. Apply & Map

In [1]:
import pandas as pd 
import numpy as np

56. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하라

In [11]:
DataURL = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataURL)

ans = print('행 : %s \n열 : %s' % (df.shape[0], df.shape[1]))
ans

행 : 10127
열 : 19

57. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 <br>
Unknown        : N    
Less than \$40K : a    
\$40K - \$60K    : b    
\$60K - \$80K    : c    
\$80K - \$120K   : d    
\$120K +'       : e

In [12]:
# Income_Category 확인
df['Income_Category'].value_counts()

Income_Category
Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
Unknown           1112
$120K +            727
Name: count, dtype: int64

In [13]:
dic = {'Unknown' : 'N'
       , 'Less than $40K' : 'a'
       , '$40K - $60K' : 'b'
       , '$60K - $80K' : 'c'
       , '$80K - $120K' : 'd'
       , '$120K +' : 'e'}

df['newIncome'] = df['Income_Category'].map(lambda x : dic[x])

ans = df['newIncome']
ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

58. 다른 방법 (#57과 동일한 문제)

In [14]:
def changeCategory(x) :
    if x == 'Unknown' :
        return 'N'
    elif x == 'Less than $40K' :
        return 'a'
    elif x == '$40K - $60K' :
        return 'b'
    elif x == '$60K - $80K' :
        return 'c'
    elif x == '$80K - $120K' :
        return 'd'
    else : 
        return 'e'
    
df['newIncome_1'] = df['Income_Category'].apply(changeCategory)

ans = df['newIncome_1']
ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome_1, dtype: object

59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하고 각 구간의 빈도수를 출력하라 (0~9 : 0 , 10~19 : 10 , 20~29 : 20, ...)

In [17]:
df['AgeState'] = df['Customer_Age'].map(lambda x : x//10 * 10)

ans = df['AgeState'].value_counts().sort_index()
ans

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

60. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [21]:
df['newEduLevel'] = df['Education_Level'].map(lambda x : 1 if 'Graduate' in x else 0)

ans = df['newEduLevel'].value_counts()
ans

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

61. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [24]:
df['newLimit'] = df['Credit_Limit'].map(lambda x : 1 if x >= 4500 else 0)

ans = df['newLimit'].value_counts()
ans

newLimit
1    5096
0    5031
Name: count, dtype: int64

62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

In [25]:
def state(x) :
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum' :
        return 1
    else :
        return 0

df['newState'] = df.apply(state, axis=1)

ans = df['newState'].value_counts()
ans

newState
0    10120
1        7
Name: count, dtype: int64

63. Gender 컬럼값 M인 경우 male, F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

In [26]:
def gender(x) :
    if x == 'M' :
        return 'male'
    else :
        return 'female'

df['Gender'] = df['Gender'].apply(gender)

ans = df['Gender'].value_counts()
ans

Gender
female    5358
male      4769
Name: count, dtype: int64