# 서울시 따릉이 이용정보 데이터

In [1]:
import pandas as pd 
import numpy as np

import warnings
warnings.filterwarnings('ignore')

데이터 로드

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

print(df.shape)
df.head()

(678950, 11)

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

31. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [12]:
ans1 = df['대여일자'].value_counts().sort_index().to_frame().reset_index()
ans1

          대여일자  count
0   2021-06-01  48081
1   2021-06-02  56100
2   2021-06-03  18985
3   2021-06-04  56788
4   2021-06-05  52730
5   2021-06-06  47787
6   2021-06-07  52623
7   2021-06-08  55623
8   2021-06-09  54507
9   2021-06-10  36992
10  2021-06-11  52089
11  2021-06-12  48569
12  2021-06-13  43131
13  2021-06-14  54945

In [23]:
ans2 = ans1[ans1['count'] == ans1['count'].max()].iloc[0, 0]
ans2

'2021-06-04'

32. 각 일자의 요일을 표기하고 ('Monday' ~'Sunday') 'day_name'컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [31]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()

ans = df['day_name'].value_counts().to_frame().reset_index()
ans

    day_name   count
0  Wednesday  110607
1     Friday  108877
2     Monday  107568
3    Tuesday  103704
4   Saturday  101299
5     Sunday   90918
6   Thursday   55977

33. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [38]:
ans = df.groupby(['day_name', '대여소번호'], as_index=False)['이용건수'].sum().sort_values(by=['day_name', '이용건수'], ascending=False)
ans = ans.drop_duplicates(subset='day_name', keep='first').reset_index(drop=True)
ans

    day_name  대여소번호  이용건수
0  Wednesday    502   399
1    Tuesday    502   371
2   Thursday   2715   188
3     Sunday    502   574
4   Saturday    502   616
5     Monday   2715   374
6     Friday   2715   414

34. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [50]:
daily = df[df['대여구분코드'].str.contains('일일권')]['연령대코드'].value_counts().sort_index()
total = df['연령대코드'].value_counts().sort_index()

ratio = (daily / total).sort_values(ascending=False)
print(ratio)
print('-------------------------------------')

print('가장 높은 비율을 가지는 나이대 : ', ratio.index[0])

연령대코드
~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: count, dtype: float64
-------------------------------------
가장 높은 비율을 가지는 나이대 :  ~10대

35. 연령대별 평균 이동거리를 구하여라

In [54]:
ans = df.groupby('연령대코드', as_index=False)['이동거리'].mean()
ans

  연령대코드         이동거리
0   20대  3211.890552
1   30대  3341.443859
2   40대  3514.857416
3   50대  3593.668100
4   60대  3538.145737
5  70대~  3085.039641
6  ~10대  2634.426279

36. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [77]:
# 연령대 코드가 20대
twenty = df[df['연령대코드'] == '20대'].copy()

# 이동거리값이 이동거리값의 평균 이상인 데이터
twenty_mean = twenty[twenty['이동거리'] >= twenty['이동거리'].mean()]

# 대여일자, 대여소 번호 순서로 내림차순 정렬
ans = twenty_mean.sort_values(by=['대여일자', '대여소번호'], ascending=False)

# 1행부터 200행까지의 탄소량의 평균을 소수점 3째 자리까지 표현
ans = ans.iloc[:200]['탄소량'].astype('float').mean().round(3)
ans

1.613

37. 6월 7일 ~10대의 "이용건수"의 중앙값은?

In [82]:
ans = df[(df['대여일자'] == '2021-06-07') & (df['연령대코드'] == '~10대')]['이용건수'].median()
ans

1.0

38. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

In [105]:
target = df[(~df['day_name'].isin(['Saturday', 'Sunday'])) & (df['대여시간'].isin([6, 7, 8]))]
target = target.groupby(['대여시간', '대여소번호'])['이용건수'].sum().to_frame('이용 횟수')

# 각 대여시간별 이용횟수의 상위 3개 대여소
ans = target.sort_values(by=['대여시간', '이용 횟수'], ascending=False).groupby('대여시간').head(3)
ans

            이용 횟수
대여시간 대여소번호
8    2701     360
     2715     155
     646      151
7    259      184
     2744     125
     2733     104
6    2744      55
     1028      47
     1125      44

39. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [108]:
ans = df[df['이동거리'] >= df['이동거리'].mean()]['이동거리'].std()
ans

5092.139707505305

40. 남성('M' or 'm')과 여성('F' or 'f')의 이동거리값의 평균값을 구하여라

In [113]:
df['sex'] = df['성별'].map(lambda x : '남' if x in ['M', 'm'] else '여')

ans = df.groupby('sex', as_index=False)['이동거리'].mean()
ans

  sex         이동거리
0   남  3209.110871
1   여  3468.575025

# 전세계 행복도 지표 데이터

데이터 로드

In [114]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv', encoding='utf-8')

print(df.shape)
df.head()

(312, 10)

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [117]:
ans = df[df['행복랭킹'] == 10]['점수'].mean()
ans

7.259

42. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [120]:
df[df['행복랭킹'] <= 50].groupby('년도', as_index=False)['점수'].mean()

     년도       점수
0  2018  6.64678
1  2019  6.67002

43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [126]:
target = df[df['년도'] == 2018].copy()
ans = target[['점수', '부패에 대한인식']].corr().iloc[0, 1]
ans

0.40529152271510027

44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [134]:
ans = len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())
ans

15

45. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [171]:
# unstack : 행렬을 시리즈 형태로 변환
corr = df[df['년도'] == 2019].select_dtypes(include=['int', 'float']).corr().unstack().reset_index().dropna()
corr.columns = ['v1', 'v2', 'corr']

corr = corr[corr['corr'] != 1].sort_values(by='corr', ascending=False).drop_duplicates(subset='corr')
ans = corr.head(5).reset_index(drop=True)
ans

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

46. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [177]:
ans = df.groupby('년도').tail(5).groupby('년도', as_index=False)['점수'].mean()
ans

     년도      점수
0  2018  3.1800
1  2019  3.1408

47. 2019년 데이터를 추출하고 해당 데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [ ]:
mean = df[df['년도'] == 2019]['상대GDP'].mean()

over = df[(df['년도'] == 2019) & (df['상대GDP'] >= mean)]['점수'].mean()
under = df[(df['년도'] == 2019) & (df['상대GDP'] < mean)]['점수'].mean()

ans = over - under
ans

1.390483957219251

48. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라