# ìœ íŠœë¸Œ ì¸ê¸° ë™ì˜ìƒ ë°ì´í„°

In [1]:
import pandas as pd 
import numpy as np

import warnings
warnings.filterwarnings('ignore')

ë°ì´í„° ë¡œë“œ

In [2]:
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"
df = pd.read_csv(dataurl, index_col=0)

print(df.shape)
df.head(2)

(60399, 9)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01

1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [3]:
id = df['channelId'].value_counts().head(10).index # ì œì‘íšŸìˆ˜ê°€ ë§ì€ channelid
ans = list(df[df['channelId'].isin(id)]['channelTitle'].unique()) # ì œì‘íšŸìˆ˜ê°€ ë§ì€ channelidì˜ channeltitleëª…
ans

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [4]:
ans = list(df[df['dislikes'] > df['likes']]['channelTitle'].unique())
ans

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [5]:
change = df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()
ans = len(change[change > 1])
ans

71

4. ì¼ìš”ì¼ì—  ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [6]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

ans = df[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]
ans

24

5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [7]:
ans = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
ans = ans.pivot(index='categoryId', columns='trending_date2', values='size')
ans

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [8]:
target = df[df['view_count'] != 0].copy()
target['ratio'] = target['comment_count'] / df['view_count']

ans = target.sort_values(by='ratio', ascending=False).iloc[0].title
ans

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [9]:
target = df[df['view_count'] != 0]
target['ratio'] = df['comment_count'] / df['view_count']

ans = target[target['ratio'] != 0].sort_values(by='ratio').iloc[0].title
ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [10]:
target = df[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
target['ratio'] = df['dislikes'] / df['likes']

ans = target.sort_values(by='ratio').iloc[0].title
ans

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

9. ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [11]:
ans = df[df['channelId'] == df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]
ans

'ì§¤íˆ°'

10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [12]:
ans = (df[['title', 'channelTitle']].value_counts() >= 20).sum()
ans

40

# ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ë¡œë“œ

In [13]:
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [14]:
print(channel.shape)
channel.head(2)

(1395, 6)

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹

In [15]:
print(video.shape)
video.head(2)

(15201, 8)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1

11. ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [16]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

ans = video['videoname'].value_counts()
ans

videoname
 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: count, dtype: int64

12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [17]:
ans = video.sort_values(by=['videoname', 'ct']).drop_duplicates(subset='videoname', keep='last')[['videoname', 'ct', 'viewcnt']].reset_index()
ans

   index videoname                  ct  viewcnt
0   3491    ê³µë²” EP1 2021-11-01 15:30:03  3180532
1   6695    ê³µë²” EP2 2021-11-01 15:30:03  2199328
2   9263    ê³µë²” EP3 2021-11-01 15:30:03  1671294
3  11543    ê³µë²” EP4 2021-11-01 15:30:03  1818493
4  13105    ê³µë²” EP5 2021-11-01 15:30:04  1503435
5  14934    ê³µë²” EP6 2021-11-01 15:30:04  1750222
6  13660    ê³µë²” EP7 2021-11-01 15:30:05  1630200
7  15200    ê³µë²” EP8 2021-11-01 15:30:05  1289088

13. Channel ë°ì´í„° ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [18]:
ans = channel[channel['ct'] >= '2021-10-03'].sort_values(by=['channelname', 'ct']).drop_duplicates(subset='channelname', keep='first')
ans = ans[['channelname', 'subcnt']].reset_index()
ans

    index      channelname   subcnt
0    1276    Balming Tiger    54300
1    1155    ê³½í† ë¦¬ kwak tori   471000
2     901       ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
3      12              ê½ˆëšœë£¹  1330000
4     393           ë…¼ë¦¬ì™• ì „ê¸°   922000
5    1028      ë¦´í„ Lilpearl    10100
6     139            ì•¼ì „ì‚½ì§±ì¬   257000
7     520  ì™€ê¸€ì™€ê¸€ WagleWagle    55000
8     647              ì¡°ë‚˜ë‹¨   215000
9     266       ì¸„ì •ChuJeong   322000
10    774          í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

14. ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [19]:
start = channel[channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03'].copy()
end = channel[channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-11-01 15'].copy()

start_df = start[['channelname', 'subcnt']].reset_index(drop=True)
end_df = end[['channelname', 'subcnt']].reset_index(drop=True)

start_df.columns = ['channelname', 'start_subcnt']
end_df.columns = ['channelname', 'end_subcnt']

ans = pd.merge(start_df, end_df)
ans['del'] = ans['end_subcnt'] - ans['start_subcnt']
ans = ans[['channelname', 'del']]
ans

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„(í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [20]:
import datetime

# ê³µë²” EP1
ep_1 = video[video['videoname'].str.contains('1')].sort_values(by='ct').reset_index(drop=True)

ep_1 = ep_1[(ep_1['ct'].diff(1) <= datetime.timedelta(minutes=5)) | 
            (ep_1['ct'].diff(1) >= datetime.timedelta(minutes=20))].copy()

ans = ep_1.copy()
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [21]:
ans = video.sort_values(by=['videoname', 'ct']).drop_duplicates(subset='videoname', keep='first')[['videoname', 'ct']].reset_index(drop=True)
ans['ct'] = ans['ct'].dt.date
ans

  videoname          ct
0    ê³µë²” EP1  2021-10-07
1    ê³µë²” EP2  2021-10-09
2    ê³µë²” EP3  2021-10-14
3    ê³µë²” EP4  2021-10-16
4    ê³µë²” EP5  2021-10-21
5    ê³µë²” EP6  2021-10-23
6    ê³µë²” EP7  2021-10-28
7    ê³µë²” EP8  2021-10-30

17. "ê³µë²”" ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [22]:
ans = video[video['ct'].dt.hour == 21].sort_values(by=['videoname', 'ct']).drop_duplicates(subset='videoname', keep='first').reset_index(drop=True)
ans = ans[['videoname', 'ct', 'viewcnt']].sort_values(by='viewcnt', ascending=False)
ans

  videoname                  ct  viewcnt
7    ê³µë²” EP8 2021-10-30 21:00:08   264029
6    ê³µë²” EP7 2021-10-28 21:00:04   252032
3    ê³µë²” EP4 2021-10-16 21:00:04   217674
5    ê³µë²” EP6 2021-10-23 21:00:06   213899
4    ê³µë²” EP5 2021-10-21 21:00:04   201179
1    ê³µë²” EP2 2021-10-09 21:00:03   148144
2    ê³µë²” EP3 2021-10-14 21:00:04   147183
0    ê³µë²” EP1 2021-10-07 21:00:03   117340

18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [23]:
ans = video.sort_values(by='ct', ascending=False).drop_duplicates(subset='videoname', keep='first').reset_index(drop=True)
ans['ratio'] = ans['dislikecnt'] / ans['likecnt']
ans = ans[['videoname', 'ratio']].sort_values(by='ratio')
ans

  videoname     ratio
1    ê³µë²” EP7  0.013636
2    ê³µë²” EP6  0.015881
6    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
7    ê³µë²” EP3  0.022360
4    ê³µë²” EP1  0.027118
5    ê³µë²” EP2  0.029844
0    ê³µë²” EP8  0.141357

19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [24]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

ans = video[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop=True)

# ìµœëŒ“ê°’ê³¼ ìµœì†Ÿê°’ ì°¨ì´ í•¨ìˆ˜
def check(x) : 
    return max(x) - min(x)

ans = ans[['videoname', 'viewcnt']].groupby('videoname').agg(check)
ans

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€  videoname ì„ êµ¬í•˜ì—¬ë¼

In [25]:
ans = video[video.duplicated()][['videoname', 'ct']].copy()
ans

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

# ì›”ë“œì»µ ì¶œì „ ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

ë°ì´í„° ë¡œë“œ

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')

print(df.shape)
df.head()

(1295, 4)

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [31]:
ans = df.groupby('Country').sum().sort_values(by='Goals', ascending=False).head(5)
ans

,Player,Goals,Years
Country,,,
Brazil,RonaldoPeleAdemirJairzinhoVavaLeonidasRivaldoC...,228,1998-2002-20061958-1962-1966-197019501966-1970...
Germany,Miroslav KloseGerd MullerJurgen KlinsmannThoma...,226,2002-2006-2010-20141970-19741990-1994-19982010...
Argentina,Gabriel BatistutaDiego MaradonaGuillermo Stabi...,135,1994-1998-20021982-1986-1990-199419301974-1978...
Italy,Roberto BaggioPaolo RossiChristian VieriSalvat...,123,1990-1994-19981978-19821998-2002199019381982-1...
France,Just FontaineThierry HenryMichel PlatiniZinedi...,115,19581998-2002-2006-20101978-1982-19861998-2002...

22. ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [40]:
ans = df.groupby('Country')['Player'].size().sort_values(ascending=False).head(5)
ans

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

23. Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [47]:
df['Years_list'] = df['Years'].str.split('-')

# ì—°ë„ 4ìë¦¬ í‘œê¸° í™•ì¸ í•¨ìˆ˜
def check(x) :
    for i in x :
        if len(str(i)) != 4 :
            return 1
    return 0 

df['check'] = df['Years_list'].apply(check)

ans = df['check'].sum()
ans

45

In [48]:
# í™•ì¸
df[df['check'] == 1].head()

             Player  Goals Years   Country Years_list  check
71      Roger Milla      5     0  Cameroon        [0]      1
190    Jesper Olsen      3     0   Denmark        [0]      1
210     Laszlo Kiss      3     0   Hungary        [0]      1
404  Ricardo Pelaez      2     0    Mexico        [0]      1
505   Djamel Zidane      1     0   Algeria        [0]      1

24. ë¬¸ì œ 23ë²ˆì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤)

In [52]:
df2 = df[df['check'] != 1].reset_index(drop=True)
ans = df2.shape[0]
ans

1250

25. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 'LenCup' ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [59]:
df2['LenCup'] = df2['Years_list'].str.len()
ans = df2['LenCup'].value_counts()[4]
ans

16

26. Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [63]:
ans = len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])
ans

7

27. 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [72]:
ans = len(df2[df2['Years'].str.contains('2002')])
ans

156

28. ì´ë¦„ì— 'carlos' ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [77]:
ans = len(df2[df2['Player'].str.lower().str.contains('carlos')])
ans

13

29. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [83]:
ans = df2[df2['LenCup'] == 1].sort_values(by='Goals', ascending=False).iloc[0].Player
ans

'Just Fontaine'

30. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [87]:
ans = df2[df2['LenCup'] == 1]['Country'].value_counts().index[0]
ans

'Brazil'